extends layout

block content
  h1#start= title

  .content
    h1#connection
    fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')
    #status
    h4 Välkommen #{user}
    #companySearch
      h4 Vad söker du?
      select#companySelect
        each parameter, i in searchParameters
          option(value=i) #{parameter}
      input#inputfield(value='Kalmar', type='text', placeholder='välj ort (valfritt)', autofocus='')
      button#searchButton sök
    #map






