extends layout

block content
  h1= title
  p Välkommen #{user}
  .content
    #companySearch
      h4 Vad söker du?
      select#companySelect
        each parameter, i in searchParameters
          option(value=i) #{parameter}
    #map






