doctype html
html(manifest="example.appcache")
  head
    title= title

    script(src="/socket.io/socket.io.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #cacheHeader
      button#offlineData Hämta offline data
      h1#connection Online läge


      //p Spara företag för kunna söka om nätet går ner.
    #status
    fb:login-button(scope='public_profile,email', onlogin='checkLoginState();')#fbButton
    block content
    img(src= '/images/left.png')#leftArrow.navigation
    img(src= '/images/right.png')#rightArrow.navigation
    //script(src='/javascripts/facebookOauth.js')
    //script(src='/javascripts/localStorage.js')
    //script(src='/javascripts/companyView.js')
    //script(src='/javascripts/map.js')
    //script(src='/javascripts/eniro.js')
    //script(src='/javascripts/mashup.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP26S2BhyRH2Z8q2JLwYrUTofaDP18Qpc")
    //script(src='/javascripts/init.js')
    script(src='/javascripts/minified.js')

