doctype html
html
  head
    title= title

    script(src="/socket.io/socket.io.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    img(src= '/images/left.png')#leftArrow
    img(src= '/images/right.png')#rightArrow
    script(src='/javascripts/detailedView.js')
    script(src='/javascripts/companySearch.js')
    script(src='/javascripts/map.js')
    script(src='/javascripts/eniro.js')
    script(src='/javascripts/mashup.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP26S2BhyRH2Z8q2JLwYrUTofaDP18Qpc")
    script(src='/javascripts/init.js')
