#map{
 /* width: 200px;
  height: 200px*/
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#listDiv{
  max-height: 30%;
  overflow: auto;
}
#companySearch{

  z-index: 100;
  position: relative;
}
#start{
  position: relative;
  font-size: 5em;
}
#leftArrow{
  z-index: 2;
  position: absolute;
  height: 15%;
  left:0;
  display: none;
}
#rightArrow{
  z-index: 3;
  position: absolute;
  height: 15%;
  right: 0;
  display: none;
}
#basicView{
  background-color: grey;
  opacity: 0.75;
  z-index: 3;
  display: inline-block;
}
#basicView a:hover{
    text-decoration: underline;
    text-decoration: solid;
    cursor: pointer;
}
#detailedDiv{
    background-color: yellow;
    display: inline-block;
    z-index: 4;
}

.content{

  z-index: 2;
  margin-left: 15%;
  height: 100%;
  width: 100%;
  visibility: hidden;
}
body {
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}