html, body,  #map-canvas { width:50%; height: 100%; margin: 0; padding: 0; }
html, body,  #dropdown-list { float: right; margin: 0; padding: 0; }
html, body, .container { }

body, html, .container {
    height: 100%;
    width: 100%;


}