
#map-canvas {
    min-height: 500px;

}
ul{

}
li {
    list-style-type: none;
    padding: 5px;
    margin: auto auto;


}

li:hover {
    cursor: crosshair;
    font-size: 1.5em;
    background-color: darkgrey;
    border-radius: 5px;
}

#dropdown-select {
    margin: auto auto;
    text-align: center;
    font-size: 2em;
}
#footer{
    content: inherit;
}
.row {
    margin: 0;
}
h3{
    text-align: center;
}

#center{
    height: 500px;
    overflow-y:scroll;
}
#dropdown-list{
    height: 500px;
    overflow-y:scroll;
    text-align: center;

}

#dropdown-list #ul ul li {
    font-style: Arial;
}


