html{
    overflow-y: hidden;
    overflow-x:hidden;
}
#dropdown-select  {
    overflow-y:hidden;
    text-align: center;

    font-size: 2em;
    width: 100%;
    max-width: 100vw;
}

#dropdown-select option  {
    max-width: 100vw;
    display: flex;
}
#dropdown-list{
    visibility: hidden;

}
.row {
    margin: 0;
}

.infoWindow{
    width: 80%;
    max-width: 90vm;
}