#dropdown-select  {

    margin: auto auto;
    text-align: center;
    font-size: 5em;

    max-width: 100vw;



}
#dropdown-select option  {
    color: gold;
    max-width: 100x§vw;
    display: flex;
}
